<?xml version="1.0"?>
<!--
  UR3/UR3e from ur_description (unchanged, included as a whole) + the
  parallel gripper on tool0.  Used both by Gazebo (sim_gazebo:=true, then
  ur.urdf.xacro adds the gazebo_ros2_control plugin with
  simulation_controllers:=config/ros2_controllers.yaml) and by MoveIt
  (sim_gazebo:=false) so that MoveIt checks collisions of the gripper too.

  Every argument of ur_description/urdf/ur.urdf.xacro (ur_type, safety_limits,
  initial_positions_file, ...) can be passed on the xacro command line.
-->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="gripper_tcp" default="0.07"/>

  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>
  <xacro:include filename="$(find ur3_llm_control)/urdf/parallel_gripper.xacro"/>

  <xacro:parallel_gripper parent="tool0" sim_gazebo="$(arg sim_gazebo)" tcp="$(arg gripper_tcp)"/>
</robot>
